html, body, div, span, p, blockquote, pre, a, address, img,  ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, canvas,
footer, header, nav, section{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size:15px;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
body{
  position:relative;
  height: 100%;
  background:#212121;
}
a{
  display:block;
  text-decoration: none;
}
ul,li{
  list-style: none;
}
legend, caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
input, select, textarea {
  background: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  outline: 0;
  font-size:15px;
  color:#fff;
  border:1px solid #868686;
}
.select-wrap,.input-wrap,.date-wrap {
  padding-right: 6px;
}
select:hover, input:hover{
  border:1px solid #fff;
}
input, select{
  height: 42px;
  padding:0 10px;
}
button {
  width:48px;
  height: 42px;
  box-sizing: border-box;
  border: 0;
}
.bodyContainer {
  position: relative;
  min-height:  calc(100% - 90px);
  height: 100%;
}
nav {
  width: 100%;
  height: 90px;
  background-color: #151515;
}
.service-nav-list-wrap {
  width: 100%;
  padding: 0 60px;
  &:after {
    display: inline-block;
    content: '';
    clear: both;
  }
}
.service-nav-list-wrap li {
  width: 20%;
  line-height: 90px;
  float: left;
  text-align: center;
  display: inline-block;
}
.service-nav-list-wrap li a{
  font-size:20px;
  display: block;
}

.service-nav-list-wrap li span.icons{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
}

.service-nav-list-wrap li.on a{
  color:#006cb8;
  font-weight: bold;
}
.service-nav-list-wrap li.image span.image {
  background: url(../resource/images/service/service_ico_gnb.png) no-repeat 0 0px;
}
.service-nav-list-wrap li.image.on span.image{
  background: url(../resource/images/service/service_ico_gnb.png) no-repeat -48px 0px;
}
.service-nav-list-wrap li.upload span.upload {
  background: url(../resource/images/service/service_ico_gnb.png) no-repeat 0 -42px;
}
.service-nav-list-wrap li.upload.on span.upload {
  background: url(../resource/images/service/service_ico_gnb.png) no-repeat -48px -42px;
}
.service-nav-list-wrap li.data span.data {
  background: url(../resource/images/service/service_ico_gnb.png) no-repeat 0 -90px;
}
.service-nav-list-wrap li.data.on span.data{
  background: url(../resource/images/service/service_ico_gnb.png) no-repeat -48px -90px;
}
.service-nav-list-wrap li.info span.info{
  background: url(../resource/images/service/service_ico_gnb.png) no-repeat 0 -138px;
}
.service-nav-list-wrap li.info.on span.info{
  background: url(../resource/images/service/service_ico_gnb.png) no-repeat -48px -138px;
}
.service-nav-list-wrap li.setting span.setting{
  background: url(../resource/images/service/service_ico_gnb.png) no-repeat 0 -186px;
}
.service-nav-list-wrap li.setting.on span.setting{
  background: url(../resource/images/service/service_ico_gnb.png) no-repeat -48px -186px;
}

/*button color*/
.btn-blu{background-color:#006cb8; transition: background-color .7s, color .7s}
.btn-blu:hover{background-color: #005c9c;}
.btn-gry{background-color:#444; transition: background-color .7s, color .7s}
.btn-gry:hover{background-color: #313131}

/*button size*/
.btn-normal{width:112px; height: 42px;}
.btn-sml {width: 100px;height: 32px;}

/*button style*/
button span{
  color: #fff;
  font-size:16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.btn-wrap{
  float:right;
}
.btn-wrap .del-btn{
  margin-left: 10px;
}
.btn-normal span{
  padding-left:28px
}
.search-btn {
  background-image: url(../resource/images/service/ico_search.png);
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.save-btn {
  background-image: url("../resource/images/service/ico_save.png");
  background-repeat: no-repeat;
  background-position: left 25px center;
}
.del-btn{
  background-image: url("../resource/images/service/ico_delete.png");
  background-repeat: no-repeat;
  background-position: left 18px center;
}
.cancel-btn{
  background-image: url(../resource/images/service/ico_cancel.png);
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.upload-btn{
  background-image: url("../resource/images/service/ico_upload.png");
  background-repeat: no-repeat;
  background-position: left 16px center;
}
.left-section{
  float:left;
  width:360px;
  padding: 30px 30px 30px;
  height: calc(100% - 90px);
  background-color: #000;
  transition: 0.5s all ease;
  &.min {
    transform: translate(-360px, 0);
    + .left-inter-section{
      transform: translate(-360px, 0);
      + .contents{
        margin-left: - 360px;
        width:calc(100% - 100px);
      }
    }
  }
  &.max {
    width:450px;
    + .left-inter-section{
      left: 450px;
      + .contents{
        width:calc(100% - 510px);
      }
    }
  }
}
.left-inter-section{
  position: absolute;
  width:50px;
  left: 360px;
  height: calc(100% - 90px);
  background-color: #0a0a0a;
  padding-top: 20px;
  transition: 0.5s all ease;
  .min {
    cursor: pointer;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-image: url("../resource/images/service/ico_mini.png");
    background-repeat: no-repeat;
  }
  .normal {
    cursor: pointer;
    margin: 25px auto;
    width: 18px;
    height: 18px;
    background-image: url("../resource/images/service/ico_normal.png");
    background-repeat: no-repeat;
  }
  .max {
    cursor: pointer;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-image: url("../resource/images/service/ico_full.png");
    background-repeat: no-repeat;
  }
}
.contents{
  padding:30px 0 0 60px;
  float:left;
  width:calc(100% - 420px);
  transition: 0.5s all ease;
}
.input-wrap{
 width:246px;
}
.input-wrap input{
  float:left;
  width:100%;
  vertical-align: middle;
  margin-right:6px;
}
/*table style*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.filter {
  &:after {content: ''; display: block;clear: both}
}
.board-wrap{
  margin-top:20px
}
.board-type1{width: 100%; border-top:2px solid #3c3c3c; table-layout: fixed;}

.board-type1 th{
  text-align: center;
  font-weight: bold;
  color:#fff;
  border-left: 1px solid #292929;
  border-bottom: 1px solid #3c3c3c;
}
.board-type1 th:first-child, .board-type1 td:first-child{
  border-left:0!important;
}
.board-type1 tr{
  border-bottom: 1px solid #292929
}
.board-type1 tr td{
  text-align: center;
  letter-spacing: -0.5px;
  border-left: 1px solid #292929;
  box-sizing:border-box;
  color:#d7d7d7;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  overflow: hidden;
}
.board-type1 tr td a{
  color:#d7d7d7;
}
.board-type1 th, .board-type1 td{
  padding: 12px 10px;
}
.table-paging-wrap{
  position:relative;
  text-align: center;
  margin-top: 30px
}
/*button paging*/
.paging-wrap a{
  display:inline-block;
  vertical-align: middle;
}
.paging-wrap a img{
  margin-top:4px;
  padding:0 6px
}
.paging-wrap >.paging{
  display: inline-block
}
.paging-wrap >.paging a:hover,
.paging-wrap >.paging >.current{
  color:#006cb8;
  border:1px solid #006cb8;
  font-weight: bold
}
.paging-wrap > .paging a{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 -3px;
  line-height: 27px;
  color: #444;
  font-size: 16px;
  text-align: center;
}
.prev-btn, .next-btn {
  width: 30px;
  height: 30px;
  border:1px solid #444;
  margin:0 10px;
}
.prev-btn .spr, .next-btn .spr {
  width: 7px;
  height: 13px;
  display: block;
  margin: 7px 11px;
}
.prev-btn .spr{
  background: url('../resource/images/service/btn_page.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.prev-btn:hover .spr{
  background: url("../resource/images/service/btn_page.png") no-repeat 0px -23px;
}
.next-btn .spr{
  background: url("../resource/images/service/btn_page.png") no-repeat -17px 0;
}
.next-btn:hover .spr {
  background: url("../resource/images/service/btn_page.png") no-repeat -17px -23px;
}
.prev-btn:hover, .prev-btn:active, .next-btn:hover, .next-btn:active{
  border:1px solid #868686;
}
//setting
.service.setting.contents{
  width:100%;
}
.service .folder-location-wrap{
  margin-top: 165px;
  text-align: center;
}
.service .folder-location-wrap span {
  font-size: 22px;
}
.service.setting .search input{
  width:750px;
  height: 50px;
  color:#444;
  font-size: 20px;
  padding-left:20px;
  vertical-align: top;
  border: 0;
  background-color: #fff;
}
.service.setting .search{
  margin-top: 40px;
}
.service.setting .search button{
  width:50px;
  height: 50px;
  margin-left: 6px;
}

//image
.Xray{
  float: left;
  position:relative;
  width: 100%;
  margin-top:20px;
  border:1px solid #444;
}
.Xray img{
  width:100%;
  vertical-align: top;
}
.Xray-thumbnail{
  position: absolute;
  top:4px;
  left:4px;
  width:14%;
  border:1px solid #444;
}
.disease-item{
  margin-top:30px;
}
.disease-item:before{
  content: "";
  width: 0;
  height: 0;
}
.disease-item li{
  position:relative;
  float: left;
  width:25%;
  color:#565656;
  font-size:14px;
  padding: 8px;
  &:nth-of-type(1) {
    padding-left: 0;
  }
  &:nth-of-type(4) {
    padding-right: 0;
  }
  &:nth-of-type(5) {
    padding-left: 0;
  }
  &:nth-of-type(8) {
    padding-right: 0;
  }
}

.disease-item .item {
  cursor: pointer;
  &:hover .itembox, &.on .itembox {
    border:1px solid #fff;
    font-weight: bold;
  }
  .itembox {
    padding:16px 16px;
    border: 1px solid #444;
    width: 100%;
    .value {
      display: inline-block;
      width: 40%;
      padding-right: 10px;
      text-overflow:ellipsis;
      white-space:nowrap;
      word-wrap:normal;
      overflow: hidden;
      vertical-align: middle;
      font-size:14px;
      color:#d1d1d1;
    }
    .chart {
      display: inline-block;
      width: 35%;
      background-color: #363636;
      border-radius: 18px;
      height: 12px;
      overflow: hidden;
      vertical-align: middle;
      .bar {
        vertical-align: top;
        height: 12px;
        display: inline-block;
        transition: all 1s ease;
      }
    }
    .percent{
      padding-left: 10px;
      vertical-align: middle;
      display: inline-block;
      width: 20%;
      font-size:14px;
      font-weight: bold;
      display: none;
      color:#d1d1d1;
    }
  }
}

//upload
.upload-message{
  font-size:18px;
  border-bottom:1px solid #3c3c3c;
  padding-bottom:20px;
}
.file-btn{
  width:300px;
  margin:30px 0 20px;
}
.upload-drop-zone{
  width:300px;
  height: 270px;
  border:1px dashed #717171;
  span{
    display:block;
    text-align:center;
    margin-top:30px;
    font-size:20px;
    color: #868686;
  }
}
.file-info-wrap{
  margin-top:30px;
  span{
    color:#868686;
    display: block;
  }
  .file-name{
    font-size:22px;
  }
  .file-size{
    font-size:16px;
  }
}

//data
.data.contents{
  padding: 30px 60px 30px 60px;
  width: 100%;
  .board-type1{
    width: 100%;
    border-top:2px solid #444444;
  }
  .board-type1 th{
    text-align: center;
    font-weight: bold;
    color:#fff;
    border-left: 1px solid #323232;
    border-bottom: 1px solid #444;
  }
  .board-type1 tr{
    border-bottom: 1px solid #323232
  }
  .board-type1 tr td{
    text-align: center;
    letter-spacing: -0.5px;
    border-left: 1px solid #323232;
    box-sizing:border-box;
    color:#d7d7d7;
  }
}
.data .table-paging-wrap .paging-wrap .prev-btn,
.data .table-paging-wrap .paging-wrap .next-btn {
  border:1px solid #565656;
}
.data .search {
  float: left;
  position: relative;
  display: table;
}
.data .date-wrap{
  display: table-cell;
}

/*popup style*/
.remodal {
  width: 660px;
  padding: 0;
  &.small {width: 500px}
  .remodal-header {
    padding: 20px 30px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #d1d1d1;
    &:after{content: '';display: block;clear: both}
    .title {float: left;color: #000;font-size: 16px;}
    .remodal-close {float: right;position: static;margin-top: -6px;width:20px;height:20px;&:before{position: static;line-height: normal;font-size: 31px;}}
  }
  .remodal-content {
    overflow-y:scroll;
    padding: 0 30px;
    text-align: left;
    .title {
      font-weight: bold;
      padding: 17px 0;
      border-bottom: 1px solid #d1d1d1;
    }
    .mail-box {
      margin-top: 20px;
      border-top: 3px solid #006cb8;
      border-left: 1px solid #d1d1d1;
      border-right: 1px solid #d1d1d1;
      border-bottom: 1px solid #d1d1d1;
      .mail-header {
        min-height: 66px;
        padding: 20px 0;
        border-bottom:1px solid #d1d1d1;
        &:after {content:'';display: block;clear: both}
        .ci {float:left;padding: 0 20px}
        .bi {float: right;padding: 0 20px}
      }
      .mail-content {
        background-color: #f6f9fd;
        color: #444444;
        line-height: 30px;
        padding: 30px;
      }
      .mail-footer {
        background-color: #f3f3f3;
        padding: 10px 20px 20px 20px;
        border-top: 1px solid #d1d1d1;
        .ps {
          padding-bottom: 10px;
          border-bottom: 1px solid #e2e2e2;
          font-size:13px;
        }
        .company {
          font-size:13px;
          padding: 10px 0;
          >a{display: inline-block; margin-left:5px}
        }
        address {
          color: #7c7c7c;
          font-size: 12px;
          letter-spacing: -0.1px;
        }
        .info {
          span {
            color: #7c7c7c;
            font-size: 12px;
            &:after {
              display: inline-block;
              content: '|';
              margin: 0px 5px 0 8px;
              transform: scale(.6);
            }
            &:last-child {
              &:after {
                content: '';
              }
            }
          }
        }
      }
    }

    .boxdep01 {
      margin-top: 20px;
      margin-bottom: 10px;
      &.line {
        border-top: 1px solid #d1d1d1;
        padding-top: 20px;
      }
    }
    .boxdep02 {
      margin-top: 20px;
      margin-left: 20px;
    }
    .boxdep03 {
      margin-top: 20px;
      margin-left: 40px;
    }

    .pass-form {
      margin-top: 30px;
      input {width: 100%;margin-bottom: 10px}
    }

  }
  .remodal-footer {
    padding: 30px 0;
    .pop-btn{width:122px}
    button span{
      padding-left:0
    }
  }
}


.datepicker {
  width: 130px;
  text-align: right;
  background-image: url("../resource/images/service/ico_calender.png");
  background-position:10px center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.chartContainer {
  overflow: hidden;
  &:after {
    content: '';
    display: inline-block;
    clear: both;
  }
  >div {
    float: left;
    width: 33.33%;
    text-align: center;
  }

  .chart01, .chart02, .chart03 {
    position: relative;
    margin-bottom: 90px;
    .text {
      position: absolute;
      top: calc(50% - 30px);
      left: 0;
      font-size: 60px;
      font-weight: bold;
      width: 100%;
      height: 100%;
      line-height: 100%;
      vertical-align: middle;
      text-align: center;
      span {font-weight: normal;font-size: 30px}
    }
    .title {
      position: absolute;
      bottom: -30px;
      left: 0;
      font-size: 20px;
      width: 100%;
      vertical-align: middle;
      text-align: center;
    }
  }
}