.chartContainer {
  overflow: hidden;
  &:after {
    content: '';
    display: inline-block;
    clear: both;
  }
  >div {
    float: left;
    width: 33.33%;
    text-align: center;
  }

  .chart01, .chart02, .chart03 {
    position: relative;
    margin-bottom: 90px;
    .text {
      position: absolute;
      top: calc(50% - 30px);
      left: 0;
      font-size: 60px;
      font-weight: bold;
      width: 100%;
      height: 100%;
      line-height: 100%;
      vertical-align: middle;
      text-align: center;
      span {font-weight: normal;font-size: 30px}
    }
    .title {
      position: absolute;
      bottom: -30px;
      left: 0;
      font-size: 20px;
      width: 100%;
      vertical-align: middle;
      text-align: center;
    }
  }
}