.image-name{
  font-size: 36px;
  background: url("../source/admin/ico_detail.png")no-repeat;
  font-weight: normal;
  background-position: left 14px;
  margin-left:16px;
  padding-left:30px;
}
.filter .info{
  float: left;
  font-size: 18px;
  padding-top:20px
}
.Xray{
  position:relative;
  width: 100%;
  margin-top:20px;
  border:1px solid #444;
}
.Xray img{
  width:100%;
  vertical-align: top;
}
.Xray-thumbnail{
  position: absolute;
  top:4px;
  left:4px;
  width:14%;
  border:1px solid #444;
}
.disease-item{
  margin-top:30px;
}
.disease-item li{
  position:relative;
  float: left;
  width:25%;
  color:#565656;
  font-size:14px;
  padding: 8px;
  &:nth-of-type(1) {
    padding-left: 0;
  }
  &:nth-of-type(4) {
    padding-right: 0;
  }
  &:nth-of-type(5) {
    padding-left: 0;
  }
  &:nth-of-type(8) {
    padding-right: 0;
  }
}

.disease-item .item {
  cursor: pointer;
  &:hover .itembox, &.on .itembox {
      border:1px solid #444;
      font-weight: bold;
    }
  .itembox {
    padding:16px 16px;
    border: 1px solid #d1d1d1;
    width: 100%;
    .value {
      display: inline-block;
      width: 40%;
      padding-right: 10px;
      text-overflow:ellipsis;
      white-space:nowrap;
      word-wrap:normal;
      overflow: hidden;
      vertical-align: middle;
    }
    .chart {
      display: inline-block;
      width: 35%;
      background-color: #d1d1d1;
      border-radius: 18px;
      height: 12px;
      overflow: hidden;
      vertical-align: middle;
      .bar {
        vertical-align: top;
        height: 12px;
        display: inline-block;
        transition: all 1s ease;
      }
    }
    .percent{
      padding-left: 10px;
      vertical-align: middle;
      display: inline-block;
      width: 20%;
      font-size:14px;
      font-weight: bold;
      display: none;
    }
  }
}