html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 13px;
  color:#444;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
a{
  display:block;
  text-decoration: none;
}
ul,li{
  list-style: none;
}
body{
  position: relative;
  height: 100%;
  background: #fff;
}
input, select{
  background: #fff;
  box-sizing: border-box;
  border:1px solid #d1d1d1;
  height: 42px;
  font-size:15px;
  padding:0 10px;
}
input[type=checkbox], input[type=radio]{
  cursor: pointer;
  transition: .05s border-color ease-in-out;
  margin:0;
}
label {
  vertical-align: middle;
}
button{
  height: 42px;
  box-sizing: border-box;
  border:0;
}
/*button color*/
.btn-blu{ background-color:#006cb8; transition: background-color .7s, color .7s}
.btn-blu:hover{ background-color: #005c9c;}
.btn-gry{ background-color:#444; transition: background-color .7s, color .7s}
.btn-gry:hover{ background-color: #000}

/*button size*/
/*button style*/
button span{
  font-size:16px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding-left:28px
}
.save-btn{
  float:right;
  width:102px;
  background-image: url(../source/admin/ico_save.png);
  background-repeat: no-repeat;
  background-position: left 20px center;
}
.search-btn{
  width:48px;
  background-image: url(../source/admin/ico_search.png);
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.header{
  width:100%;
  height:74px;
  padding:20px 30px;
  background-color:#006cb8;
  color:#fff;
  align-items: center;
  align-content: center;
}
.header h1{
  width:166px;
  display: inline-block;
}
.header .h_logo{
  display: block;
  width: 166px;
  height: 33px;
  padding:20px  0;
  background: url(../source/admin/logo.png) no-repeat;
  background-size: 166px auto;
  font-size:0;
}
nav {
  float:left;
  width:206px;
  height: calc(100% - 74px);
  background-color:#dcdcdc;
}

.util-menu{
  float: right;
  margin-right: 10px;
}
.loginInfo{
  float: left;
  height: 20px;
  font-size: 19px;
  color:#fff;
}
.util-menu .more-button{
  float: left;
  display: block;
  width:6px;
  height: 28px;
  margin-left:24px;
  padding:0 16px;
  background: url(../source/admin//btn_more.png) center no-repeat;
}


.gnb li{
  position:relative;
  height: 90px;
  text-align: center;
  border-bottom: 1px solid #c9c9c9;
}
.gnb li a{
  font-size:20px;
  line-height: 28px;
  position:absolute;
  top:34px;
  left:54px;
}
.gnb li.on{
  background-color: #fff;

  font-weight: bold;
}
.gnb li.on a{
  color:#006cb8;
}
.gnb li.image a{
  width:26px;
  background: url(../source/admin/ico_gnb.png) no-repeat 0 3px;
  padding:0 0 0 38px;
}
.gnb li.image.on a{
  background: url(../source/admin/ico_gnb.png) no-repeat -48px 3px;
}
.gnb li.setting a{
  width:28px;
  background: url(../source/admin/ico_gnb.png) no-repeat 0 -42px;
  padding:0 0 0 38px;
}
.gnb li.setting.on a{
  background: url(../source/admin/ico_gnb.png) no-repeat -48px -42px;
}
.gnb li.data a{
  width:28px;
  background: url(../source/admin/ico_gnb.png) no-repeat 0 -90px;
  padding:0 0 0 38px;
}
.gnb li.data.on a{
  background: url(../source/admin/ico_gnb.png) no-repeat -48px -90px;
}
.gnb li.user a{
  width:22px;
  background: url(../source/admin/ico_gnb.png) no-repeat 0 -138px;
  padding:0 0 0 38px;
}
.gnb li.user.on a{
  background: url(../source/admin/ico_gnb.png) no-repeat -51px -138px;
}
.gnb li.qna a{
  width:24px;
  background: url(../source/admin/ico_gnb.png) no-repeat 0 -184px;
  padding:0 0 0 38px;
}
.gnb li.qna.on a{
  background: url(../source/admin/ico_gnb.png) no-repeat -50px -184px;
}
.bodycontiner {
  position: relative;
  min-height:  calc(100% - 74px);
  &:before {
    content: '';
    display: block;
    background-color:#dcdcdc;
    width: 206px;
    height: 100%;
    position: absolute;
    top:0;
    left:0
  }
}
.contents{
  margin-left: 266px;
  width: calc(100% - 320px);
  background-color: #fff;
}
.contents h2{
  padding:30px 0;
  font-size:36px;
  font-weight: bold;
}
.filter{
  height: 42px;
}
.filter .search {
  float: left;
  position: relative;
  display: table;
}
.select-wrap,.input-wrap {
  padding-right: 6px;
  display: table-cell;
}
.select-wrap select{
  width:100%;
  vertical-align: middle;
}
.select-wrap select.qty{
  width:60px;
}
.select-wrap select.user{
  width:200px;
}
.input-wrap {
  width: 230px;
}
.input-wrap input {
  width: 100%;
  vertical-align: middle;
}



/*추가*/
legend, caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

input[type=checkbox], input[type=radio]{
  cursor: pointer;
  transition: .05s border-color ease-in-out;
  margin:0;
}
select:hover, input:hover{
  border:1px solid #444;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.board-wrap{
  margin-top:20px
}
.board-type1{width: 100%; border-top:2px solid #000}

.board-type1 th{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color:#000;
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #000;
}
.board-type1 th:first-child, .board-type1 td:first-child{
  border-left:0
}
.board-type1 tr{
  border-bottom: 1px solid #d1d1d1
}
.board-type1 tr td{
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.5px;
  border-left: 1px solid #d1d1d1;
  box-sizing:border-box
}
.board-type1 th, .board-type1 td{
  padding: 14px 10px;
}
.table-paging-wrap{
  position:relative;
  text-align: center;
  margin-top: 30px
}
/*button paging*/
.paging-wrap a{
  display:inline-block;
  vertical-align: middle;
}
.paging-wrap a img{
  margin-top:4px;
  padding:0 6px
}
.paging-wrap >.paging{
  display: inline-block
}
.paging-wrap >.paging a:hover,
.paging-wrap >.paging >.current{
  color:#006cb8;
  border:1px solid #006cb8;
  font-weight: bold
}
.paging-wrap > .paging a{
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 0 -3px;
  line-height: 32px;
  color: #444;
  font-size: 16px;
  text-align: center;
}
.prev-btn, .next-btn {
  width: 34px;
  height: 34px;
  border:1px solid #d1d1d1;
  margin:0 10px;
}
.prev-btn .spr, .next-btn .spr {
  width: 10px;
  height: 18px;
  display: block;
  margin: 7px 12px;
}
.prev-btn .spr{
  background: url(../source/admin/btn_page.png) no-repeat 0 0;
}
.prev-btn:hover .spr{
  background: url(../source/admin/btn_page.png) no-repeat -1px -27px;
}
.next-btn .spr{
  background: url(../source/admin/btn_page.png) no-repeat -20px 0;
}
.next-btn:hover .spr {
  background: url(../source/admin/btn_page.png) no-repeat -19px -27px;
}
.prev-btn:hover, .prev-btn:active, .next-btn:hover, .next-btn:active{
  border:1px solid #444;
}
.show{
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 15px;
  font-weight: bold;
}


