html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size:15px;
  color:#444;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
a{
  display:block;
  text-decoration: none;
}
ul,li{
  list-style: none;
}
body{
  position: relative;
  height: 100%;
  background: #fff;
}
legend, caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
input, select, textarea{
  background: #fff;
  box-sizing: border-box;
  border:1px solid #d1d1d1;
  outline: 0;
  font-size:15px;
  &:focus {border: 1px solid #444;}
}
input, select{
  height: 42px;
  padding:0 10px;
}
select:hover, input:hover{
  border:1px solid #444;
}
textarea{
  width: 100%;
  resize: none;
  padding: 10px 10px;
}
input[type=checkbox], input[type=radio]{
  cursor: pointer;
  transition: .05s border-color ease-in-out;
  margin:0;
}
label {
  vertical-align: middle;
}
button{
  box-sizing: border-box;
  border:0;
}
/*button color*/
.btn-blu{background-color:#006cb8; transition: background-color .7s, color .7s}
.btn-blu:hover{background-color: #005c9c;}
.btn-gry{background-color:#444; transition: background-color .7s, color .7s}
.btn-gry:hover{background-color: #000}

/*button size*/
.btn-normal{width:102px; height: 42px;}
.btn-sml {width: 100px;height: 32px;}

/*button style*/
button span{
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.btn-normal span{
  font-size:16px;
  padding-left:26px
}
.save-btn{
  float:right;
  background-image: url("../resource/images/admin/ico_save.png");
  background-repeat: no-repeat;
  background-position: left 22px center;
}
.search-btn{
  width:48px;
  height: 42px;
  background-image: url("../resource/images/admin/ico_search.png");
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.edit-btn{
  background-image: url("../resource/images/admin/ico_edit.png");
  background-repeat: no-repeat;
  background-position: left 24px center;
}
.del-btn{
  background-image: url("../resource/images/admin/ico_delete.png");
  background-repeat: no-repeat;
  background-position: left 15px center;
}
.add-btn{
  background-image: url("../resource/images/admin/ico_add.png");
  background-repeat: no-repeat;
  background-position: left 24px center;
}
.header{
  width:100%;
  height:74px;
  padding:20px 30px;
  background-color:#006cb8;
  color:#fff;
  align-items: center;
  align-content: center;
}
.header h1{
  width:166px;
  display: inline-block;
}
.header .h_logo{
  display: block;
  width: 166px;
  height: 33px;
  padding:20px  0;
  background: url("../resource/images/admin/logo.png") no-repeat;
  background-size: 166px auto;
  font-size:0;
}
nav {
  float:left;
  width:206px;
  height: calc(100% - 74px);
  background-color:#dcdcdc;
}

.util-menu{
  float: right;
  margin-right: 10px;
}
.loginInfo{
  float: left;
  height: 20px;
  font-size: 19px;
  color:#fff;
}
.util-menu .more-button{
  float: left;
  display: block;
  width:6px;
  height: 28px;
  margin-left:24px;
  padding:0 16px;
  background: url("../resource/images/admin//btn_more.png") center no-repeat;
}
.more-wrap-container {
  .bg {
    display: none;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .0);
    &.active {
      display: block;
    }
  }
  .more-wrap{
    position:absolute;
    z-index: 10;
    display: none;
    top:74px;
    right:30px;
    width:145px;
    font-size: 15px;
    background-color: #fff;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    &.active {
      display: block;
    }
  }
  .more-wrap:before{
    position: absolute;
    top: -10px;
    right: 20px;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    z-index: 10;
  }
  .more-wrap ul li{
  }
  .more-wrap ul li a{
    text-align: center;
    padding: 15px 0;
    height: 50px;
    display: block;
    border-bottom:1px solid #d1d1d1
  }
  .more-wrap ul li a:hover{
    background-color: #f3f3f3;
  }
}
.nav-list-wrap li{
  position:relative;
  height: 90px;
  text-align: center;
  border-bottom: 1px solid #c9c9c9;
}
.nav-list-wrap li a{
  font-size:20px;
  line-height: 28px;
  position:absolute;
  top:30px;
  left:54px;
  text-decoration: none;
}
.nav-list-wrap li.on{
  background-color: #fff;
}
.nav-list-wrap li.on a{
  color:#006cb8;
  font-weight: bold;
}
.nav-list-wrap li.image a{
  width:26px;
  background: url("../resource/images/admin/ico_gnb.png") no-repeat 0 3px;
  padding:0 0 0 38px;
}
.nav-list-wrap li.image.on a{
  background: url("../resource/images/admin/ico_gnb.png") no-repeat -48px 3px;
}
.nav-list-wrap li.setting a{
  width:28px;
  background: url("../resource/images/admin/ico_gnb.png") no-repeat 0 -42px;
  padding:0 0 0 38px;
}
.nav-list-wrap li.setting.on a{
  background: url("../resource/images/admin/ico_gnb.png") no-repeat -48px -42px;
}
.nav-list-wrap li.data a{
  width:28px;
  background: url("../resource/images/admin/ico_gnb.png") no-repeat 0 -90px;
  padding:0 0 0 38px;
}
.nav-list-wrap li.data.on a{
  background: url("../resource/images/admin/ico_gnb.png") no-repeat -48px -90px;
}
.nav-list-wrap li.user a{
  width:22px;
  background: url("../resource/images/admin/ico_gnb.png") no-repeat 0 -138px;
  padding:0 0 0 38px;
}
.nav-list-wrap li.user.on a{
  background: url("../resource/images/admin/ico_gnb.png") no-repeat -48px -138px;
}
.nav-list-wrap li.qna a{
  width:24px;
  background: url("../resource/images/admin/ico_gnb.png") no-repeat 0 -184px;
  padding:0 0 0 38px;
}
.nav-list-wrap li.qna.on a{
  background: url("../resource/images/admin/ico_gnb.png") no-repeat -48px -184px;
}
.bodyContainer {
  position: relative;
  min-height:  calc(100% - 74px);
  &:before {
    content: '';
    display: block;
    background-color:#dcdcdc;
    width: 206px;
    height: 100%;
    position: absolute;
    top:0;
    left:0
  }
}
.contents{
  margin-left: 266px;
  width: calc(100% - 320px);
  padding-bottom: 50px;
  background-color: #fff;
}
.contents h2{
  padding:30px 0;
  font-size:36px;
  font-weight: bold;
}
.filter{
  height: 42px;
}
.filter .search {
  float: left;
  position: relative;
  display: table;
}
.select-wrap,.input-wrap {
  padding-right: 6px;
  display: table-cell;
}
.select-wrap select{
  width:100%;
  vertical-align: middle;
}
.select-wrap select.qty{
  width:60px;
}
.select-wrap select.user{
  width:200px;
}
.input-wrap {
  width: 230px;
}
.input-wrap input {
  width: 100%;
  vertical-align: middle;
}

/*table style*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.board-wrap{
  margin-top:20px
}
.board-type1{width: 100%; border-top:2px solid #000}

.board-type1 .ico_arr {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("../resource/images/admin/ico_arr.png");
  background-repeat: no-repeat;
  margin-left: 8px;
  cursor: pointer;
  &.down {
    transform: rotate(180deg);
  }
}


.board-type1 th{
  text-align: center;
  font-weight: bold;
  color:#000;
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #000;
}
.board-type1 th:first-child, .board-type1 td:first-child{
  border-left:0
}
.board-type1 tr{
  border-bottom: 1px solid #d1d1d1
}
.board-type1 tr td{
  text-align: center;
  letter-spacing: -0.5px;
  border-left: 1px solid #d1d1d1;
  box-sizing:border-box
}
.board-type1 th, .board-type1 td{
  padding: 14px 10px;
}
.table-paging-wrap{
  position:relative;
  text-align: center;
  margin-top: 30px
}
/*button paging*/
.paging-wrap a{
  display:inline-block;
  vertical-align: middle;
}
.paging-wrap a img{
  margin-top:4px;
  padding:0 6px
}
.paging-wrap >.paging{
  display: inline-block
}
.paging-wrap >.paging a:hover,
.paging-wrap >.paging >.current{
  color:#006cb8;
  border:1px solid #006cb8;
  font-weight: bold
}
.paging-wrap > .paging a{
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 0 -3px;
  line-height: 32px;
  color: #444;
  font-size: 16px;
  text-align: center;
}
.prev-btn, .next-btn {
  width: 34px;
  height: 34px;
  border:1px solid #d1d1d1;
  margin:0 10px;
}
.prev-btn .spr, .next-btn .spr {
  width: 10px;
  height: 18px;
  display: block;
  margin: 7px 12px;
}
.prev-btn .spr{
  background: url("../resource/images/admin/btn_page.png") no-repeat 0 0;
}
.prev-btn:hover .spr{
  background: url("../resource/images/admin/btn_page.png") no-repeat -1px -27px;
}
.next-btn .spr{
  background: url("../resource/images/admin/btn_page.png") no-repeat -20px 0;
}
.next-btn:hover .spr {
  background: url("../resource/images/admin/btn_page.png") no-repeat -19px -27px;
}
.prev-btn:hover, .prev-btn:active, .next-btn:hover, .next-btn:active{
  border:1px solid #444;
}
.show{
  position: absolute;
  top: 0px;
  left: 0;
  font-weight: bold;
}

/*popup style*/
.remodal {
  width: 660px;
  padding: 0;
  &.small {width: 500px}
  .remodal-header {
    padding: 20px 30px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #d1d1d1;
    &:after{content: '';display: block;clear: both}
    .title {float: left;color: #000;font-size: 16px;}
    .remodal-close {float: right;position: static;margin-top: -6px;width:20px;height:20px;&:before{position: static;line-height: normal;font-size: 31px;}}
  }
  .remodal-content {
    overflow-y:scroll;
    padding: 0 30px;
    text-align: left;
    .title {
      font-weight: bold;
      padding: 17px 0;
      border-bottom: 1px solid #d1d1d1;
    }
    .mail-box {
      margin-top: 20px;
      border-top: 3px solid #006cb8;
      border-left: 1px solid #d1d1d1;
      border-right: 1px solid #d1d1d1;
      border-bottom: 1px solid #d1d1d1;
      .mail-header {
        min-height: 66px;
        padding: 20px 0;
        border-bottom:1px solid #d1d1d1;
        &:after {content:'';display: block;clear: both}
        .ci {float:left;padding: 0 20px}
        .bi {float: right;padding: 0 20px}
      }
      .mail-content {
        background-color: #f6f9fd;
        color: #444444;
        line-height: 30px;
        padding: 30px;
      }
      .mail-footer {
        background-color: #f3f3f3;
        padding: 10px 20px 20px 20px;
        border-top: 1px solid #d1d1d1;
        .ps {
          padding-bottom: 10px;
          border-bottom: 1px solid #e2e2e2;
          font-size:13px;
        }
        .company {
          font-size:13px;
          padding: 10px 0;
          >a{display: inline-block; margin-left:5px}
        }
        address {
          color: #7c7c7c;
          font-size: 12px;
          letter-spacing: -0.1px;
        }
        .info {
          span {
            color: #7c7c7c;
            font-size: 12px;
            &:after {
              display: inline-block;
              content: '|';
              margin: 0px 5px 0 8px;
              transform: scale(.6);
            }
            &:last-child {
              &:after {
                content: '';
              }
            }
          }
        }
      }
    }

    .boxdep01 {
      margin-top: 20px;
      margin-bottom: 10px;
      &.line {
        border-top: 1px solid #d1d1d1;
        padding-top: 20px;
      }
    }
    .boxdep02 {
      margin-top: 20px;
      margin-left: 20px;
    }
    .boxdep03 {
      margin-top: 20px;
      margin-left: 40px;
    }

    .pass-form {
      margin-top: 30px;
      input {width: 100%;margin-bottom: 10px}
    }

  }
  .remodal-footer {
    padding: 30px 0;
    .pop-btn{width:122px}
    button span{
      padding-left:0
    }
  }
}


.datepicker {
  width: 125px;
  text-align: right;
  background-image: url("../resource/images/admin/ico_calender.png");
  background-position:10px center;
  background-repeat: no-repeat;
  vertical-align: middle;
}


/*checkbox*/
.checkbox-ui {
  position: relative;
  &.default {
    [type=checkbox] {
      &:checked {
        + label {
          background-image: url("../resource/images/admin/check_on.png");
        }
      }
      + label {
        background-image: url("../resource/images/admin/check_off.png");
      }
    }
  }
  [type=checkbox] {
    opacity: .0;
    position: absolute;
    left: 0;
    top:0;
    width: 26px;
    height: 26px;
    &:checked {
      + label {
        padding-left: 30px;
        background-image: url("../resource/images/admin/login_check_on.png");
        background-repeat: no-repeat;
      }
    }
    + label {
      cursor: pointer;
      padding-left: 30px;
      background-image: url("../resource/images/admin/login_check_off.png");
      background-repeat: no-repeat;
    }
  }
}

.radio-ui {
  position: relative;
  [type=radio] {
    opacity: .0;
    position: absolute;
    left: 0;
    top:0;
    width: 26px;
    height: 26px;
    &:checked {
      + label {
        padding-left: 30px;
        background-image: url("../resource/images/admin/radio_on.png");
        background-repeat: no-repeat;
      }
    }
    + label {
      cursor: pointer;
      padding-left: 30px;
      background-image: url("../resource/images/admin/radio_off.png");
      background-repeat: no-repeat;
    }
  }
}
