.qna-reply-btn-wrap{
    >button{width:124px}
  .preview-btn{
    margin-right: 6px;
    background-image: url(../resource/images/admin/ico_preview.png);
    background-repeat: no-repeat;
    background-position: left 20px center;
  }
  .cancel-btn{
  background-image: url(../resource/images/admin/ico_cancel.png);
  background-repeat: no-repeat;
  background-position: left 26px center;
}
}
.qna-list-wrap {
  margin-top: 20px;
  .qna-list li{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    transition: all 0.3s ease;
    &.on {
      .sender-wrap, .qna-btn-wrap, .email-message {display: block}
      .qna-title {
        color:#006cb8;
        font-weight: bold;
      }
      .qna-info-wrap {
        background: #f9f9f9;
      }
      .qna-active {
        transform: translate(0px, 0) rotate(45deg);
      }
    }
    &:hover {
      .qna-title {
        color:#006cb8;
        font-weight: bold;
      }
      .qna-info-wrap {
        background: #f9f9f9;
      }
    }

    .qna-info-wrap {
      background: #fff;
      border-bottom: 1px solid  #d1d1d1;
      border-top: 1px solid  #d1d1d1;
      padding: 18px 30px;
      margin-top: -1px;
      .qna-title-wrap{
        float:left;
        a{margin-top:2px}
      }
      .info-wrap{
        float:right;
      }
      &:after {
        display: block;
        content: '';
        clear: both;
      }
    }
    .sender-wrap{
      display: none;
      float:left;
      margin: 30px 30px 18px 30px;
      span{
        display: block;
        font-size:14px;
      }
    }
    .qna-btn-wrap{
      width: 100px;
      float:right;
      display: none;
      margin: 30px 30px 0 0;
      > button {margin-bottom: 6px}
      .reply-btn {
        background-image: url(../resource/images/admin/ico_reply.png);
        background-repeat: no-repeat;
        background-position: left 20px center;
        > span {
          padding-left: 22px;
          margin-top:-1px;
          font-size: 14px;
          display: block;
        }
      }
      .del-btn{
        background-size: 13px 16px;
        background-position: left 20px center;
        > span{
          margin-top:-1px;
          display: block;
          padding-left:23px;
          font-size: 14px;
        }
      }
    }
    .email-message {
      clear: both;
      display: none;
      margin: 0px 30px 30px 30px;
      font-size:14px;
      line-height: 22px;
    }
  }
  .qna-reply-title, .qna-reply-message {
    background: #fff;
    border-bottom: 1px solid  #d1d1d1;
    border-top: 1px solid  #d1d1d1;
    padding: 18px 30px;
    .title {float: left;font-size: 15px;font-weight: bold;width: 95px;}
    .content {
      margin-left: 95px;
      .reply {
        line-height: 30px;
        }
      }
      .sender{
        margin-top: 20px;
        span {display: block; font-size:14px;}
        >.email-message{display: block;margin-top: 25px; font-size:14px; line-height: 22px;}
      }
    }
  .qna-reply-message {padding:30px; border-top: 0;}
}
.qna-date, .qna-unanswer, .qna-answer, .qna-active{
  display: inline-block;
  vertical-align: middle;
}
.qna-active {
  cursor: pointer;
  position: relative;
  margin-right: 0px;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  &:before {
    content: '';
    position: absolute;
    top:12px;
    left:0;
    background-color: #006cb8;
    width: 24px;
    height: 2px;
  }
  &:after {
    content: '';
    position: absolute;
    top:12px;
    left:0;
    background-color: #006cb8;
    width: 24px;
    height: 2px;
    transform: rotate(90deg);
  }
}
.qna-unanswer, .qna-answer{
  width: 180px;
  text-align: center;
}