.service {
  position: relative;
  .title {
    text-align: center;
    color: #000c1f;
    font-size: 58px;
    span {font-weight: bold}
    transition: .9s cubic-bezier(.4,.38,0,1.19);
    transform: translate(0px, 200px);
    opacity: 0;
  }
}

.fp-viewing-service {
  .service {
    .title {
      transform: translate(0px, -90px);
      opacity: 1;
    }
  }
}