.about {
  background-image: url("/dist/resource/images/front/about.png");
  background-size: 100% auto;
  background-color: #208cd8;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  //background-color: #def2fd;
  .title {
    text-align: center;
    color: #000c1f;
    font-size: 58px;
    span {font-weight: bold; font-size: 58px;}
    transition: .9s cubic-bezier(.4,.38,0,1.19);
    opacity: 0;
  }

  .imgs {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    background-image: url("../resource/images/front/about_im_pc.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.fp-viewing-about {
  .about {
    .title {
      opacity: 1;
    }
  }
}