.blog {
  background-image: url("../resource/images/front/blog.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  //background-color: #eaeaea;
  .title {
    text-align: center;
    color: #000c1f;
    font-size: 64px;
    span {font-weight: bold}
    transition: .9s cubic-bezier(.4,.38,0,1.19);
  }
}

.slider {
  transition: 1.4s cubic-bezier(.4,.38,0,1.19);
  //transform: translate(0px, 200px);
  width: 80%;
  max-width: 1250px;
  margin: 0px auto 0px auto;
}

.sliderItem {
  width: 390px;
  height: 530px;
  border: 1px solid #444444;
  background-color: #fff;
  margin: 0 20px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, .10);
  cursor: pointer;
  background-image: url("../resource/images/front/blogPlusOff.png");
  background-position: center 95%;
  background-repeat: no-repeat;
  &:hover {
    background-image: url("../resource/images/front/blogPlusOn.png");
    h3 {
      color: #006cb8;
    }
  }
  img {width: 100%}
  h3 {
    margin: 20px 30px;
    font-size: 20px;
    color: #000;
    line-height: 160%;
    font-weight: bold;
    height: 68px;
    overflow: hidden;
  }
  .descpan {
    border-top: 1px solid #d1d1d1;
    margin: 20px 30px;
    padding-top: 20px;
    height: 125px;
    overflow: hidden;
    line-height: 160%;
    font-size: 16px;
  }
}

.fp-viewing-blog {
  .blog {
    .title {
    }
    .slider {
      margin-bottom: 0;
    }
  }
}