.demo {
  position: relative;
  background-color: #eaeaea;
  .title {
    text-align: center;
    color: #000c1f;
    font-size: 58px;
    span {font-weight: bold}
    transition: .9s cubic-bezier(.4,.38,0,1.19);
  }
  .desc {
    text-align: center;
    color: #262626;
    font-size: 22px;
    transition: 1.2s cubic-bezier(.4,.38,0,1.19);
    line-height: 160%;
    span {color: #006cb8; font-size: 22px;}
  }

  .upload {
    transition: 1.4s cubic-bezier(.4,.38,0,1.19);
    width: 80%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    .qq-uploader {
      min-height: 443px;
    }
    .fine-uploader-gallery {
      margin-right: 10px;
      padding: 6px;
      background-color: #ffffff;
      float: left;
    }
    .upload-view {
      float: left;
      width: 800px;
      height: 456px;
      border: 1px #c8c8c8 solid;
      font-size: 22px;
      text-align: center;
      color: #262626;
      line-height: 456px;
      background-image: url("../resource/images/front/upload_default.png");
      .progress {
        opacity: 0;
        margin: -200px auto;
        border-radius: 8px;
        width: 330px;
        height: 10px;
        background-color: #c1c1c1;
        .bar {
          display: block;
          border-radius: 8px;
          height: 10px;
          background-color: #006cb8;
        }
      }
      .upcomp {
        display: none;
      }
    }
  }

}

.fp-viewing-demo {
  .demo {
    .title {
    }
    .desc {
    }
    .upload {
    }
  }
}