.fp-viewing-0 {
  .header {
    height: 110px;
    background-color: rgba(255, 255, 255, .4);
    border-bottom: 1px #fff solid;
    box-shadow: 1px 0 7px rgba(0, 0, 0, .11);
    .logo {
      display: block;
      background-image: url("../resource/images/front/logo.png");
      width: 340px;
      height: 66px;
      background-size: 340px 66px;
    }
  }
}

.header {
  font-size: 14px;
  height: 90px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px #dfe0e1 solid;
  position: fixed;
  top:0;
  z-index: 100;
  width: 100%;
  transition: .6s cubic-bezier(.4,.38,0,1.19);
  .logo {
    display: block;
    float:left;
    background-image: url("../resource/images/front/logo.png");
    width: 234px;
    height: 46px;
    background-size: 234px 46px;
    transition: .6s cubic-bezier(.4,.38,0,1.19);
    background-repeat: no-repeat;
    margin-left: 55px;
    margin-top: 20px;
  }
  .gnb {
    line-height: 90px;
    vertical-align: middle;
    float:right;
    li {
      display: inline-block;
      &:last-child {a {margin-right: 55px;}}
      a {
        color: #202020;
        margin: 0 25px;
        font-size: 24px;
        text-decoration: none;
        &:hover {
          color: #006cb8;
        }
      }
    }
  }
}

.section {
  .title {
    padding-top:150px;
  }
  .desc {
    padding-top:30px;
  }
  .imgs, .upload, .sendForm {
    margin-top:100px;
  }
  .slider {
    margin-top:100px;
  }
}




/*.fp-viewing-about {
  .gnb li {
    &:nth-of-type(1) a {
      color: #006cb8;
    }
  }
  .about {
    .title {
      transform: translate(0px, 0px);
    }
  }
}

.fp-viewing-demo {
  .gnb li {
    &:nth-of-type(2) a {color: #006cb8;}
  }
  .demo {
    .title {
      transform: translate(0px, 0px);
    }
    .desc {
      transform: translate(0px, 0px);
    }
    .upload {
      transform: translate(0px, 0px);
    }
  }
}
.fp-viewing-service {
  .gnb li {
    &:nth-of-type(3) a {color: #006cb8;}
  }
  .service {
    .title {
      transform: translate(0px, 0px);
    }
    .desc {
      transform: translate(0px, 0px);
    }
  }
}
.fp-viewing-blog {
  .gnb li {
    &:nth-of-type(4) a {color: #006cb8;}
  }
  .blog {
    .title {
      transform: translate(0px, 0px);
    }
    .slider {
      transform: translate(0px, 0px);
    }
  }
}
.fp-viewing-contact {
  .gnb li {
    &:nth-of-type(5) a {color: #006cb8;}
  }
  .contact {
    .title {
      transform: translate(0px, 0px);
    }
    .desc {
      transform: translate(0px, 0px);
    }
    .sendForm {
      transform: translate(0px, 0px);
    }
  }
}*/

.fp-tableCell {
  vertical-align: inherit;
}

/*
.about, .demo, .service, .blog, .contact {
  .title {
     margin-top: 160px;
     transform: translate(0px, 200px);
   }
  .desc {
    margin-top: 40px;
    transform: translate(0px, 200px);
  }
  .upload {
    transform: translate(0px, 200px);
  }
  .slider {
    transform: translate(0px, 200px);
  }
  .sendForm {
    transform: translate(0px, 200px);
  }
}

*/









/*

.fp-destroyed {
  .home {
    height: 500px;
    overflow: hidden;
    .homeDesc {
      position: absolute;
      left: 50px;
      width: inherit;
      top:140px;
      opacity: 1;
      font-size: 24px;
    }
    .uiHand {
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: bottom center;
      width: 100%;
      height: 100%;
      transform: translate(0, 10px);
    }
    .mouse {
      bottom: 90px;
      left: 50%;
      margin-left: -45px;
      font-size: 26px;
      font-weight: bold;
      color: #00142b;
      padding-top: 125px;
      transition: 0.6s cubic-bezier(0.4, 0.38, 0, 1.19);
      opacity: 0;
    }
  }

  .about {
    height: 800px;
  }

  .demo {
    height: 1200px;
    .desc {
      text-align: center;
      color: #262626;
      font-size: 22px;
      transition: 1.2s cubic-bezier(0.4, 0.38, 0, 1.19);
      opacity:1;
      line-height: 160%;
      transform: translate(0);
    }
  }

  .demo .upload {
    opacity: 1;
    width: 80%;
    max-width: 1250px;
    margin: 30px auto 0px auto;
    transform: translate(0px, 0px);
  }

  .service {
    height: 800px;
  }

  .blog {
    height: 800px;

    .slider {
      margin: 50px auto 0 auto;
      transform: translate(0);
      opacity: 1;
    }

  }

  .contact {
    height: 800px;

    .desc {
      opacity:1;
      transform: translate(0);
    }

    .sendForm, .btnForm {
      opacity: 1;
      margin: 40px auto 0 auto;
      transform: translate(0);
    }

  }

  .about .title, .demo .title, .service .title, .blog .title, .contact .title {
    font-size: 38px;
    padding-top: 50px;
    margin-top: 0;
    opacity: 1;
    transform: translate(0px, 0px);
  }
}*/
