.home {
  background-image: url("../resource/images/front/home.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  //background-color: #def2fd;
}

.uiHand {
  background-image: url("../resource/images/front/vis_hand.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -0;
  transition: .6s cubic-bezier(.4,.38,0,1.19);
}

.uipad {
  background-image: url("../resource/images/front/pad.png");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 10%;
  bottom: 10%;
  transition: .6s cubic-bezier(.4,.38,0,1.19);
}


.uivis {
  background-image: url("../resource/images/front/vis01.png");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 10%;
  bottom: 10%;
  transition: .6s cubic-bezier(.4,.38,0,1.19);
  -webkit-animation:imgchange 11s linear infinite;
  -moz-animation:imgchange 11s linear infinite;
  animation:imgchange 11s linear infinite;
}

@-moz-keyframes imgchange {
  0% { background-image: url("../resource/images/front/vis01.png"); }
  33% { background-image: url("../resource/images/front/vis02.png"); }
  66% { background-image: url("../resource/images/front/vis03.png"); }
  100% { background-image: url("../resource/images/front/vis01.png"); }
}
@-webkit-keyframes imgchange {
  0% { background-image: url("../resource/images/front/vis01.png"); }
  33% { background-image: url("../resource/images/front/vis02.png"); }
  66% { background-image: url("../resource/images/front/vis03.png"); }
  100% { background-image: url("../resource/images/front/vis01.png"); }
}
@keyframes imgchange {
  0% { background-image: url("../resource/images/front/vis01.png"); }
  33% { background-image: url("../resource/images/front/vis02.png"); }
  66% { background-image: url("../resource/images/front/vis03.png"); }
  100% { background-image: url("../resource/images/front/vis01.png"); }
}

.mouse {
  background-image: url("../resource/images/front/mouse.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  width: 100px;
  height: 240px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -22px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  padding-top: 160px;
  transition: .6s cubic-bezier(.4,.38,0,1.19);
}

.homeDesc {
  position: absolute;
  top:300px;
  left:100px;
  transition: .6s cubic-bezier(.4,.38,0,1.19);
  color: #00142b;
  font-size: 50px;
  font-weight: bold;
  line-height: 160%;
}

.fp-viewing-home {
  .homeDesc {
    position: absolute;
  }
  .uiHand {
    //transform: translate(0px, 200px);
  }
}