@media screen and (max-width: 500px) /* Mobile */ {

  .onlyMb {display: none}

  .menu-trigger {
    position: absolute;
    left: 18px;
    top: 18px;
    width: 22px;
    height: 22px;
    span {
      height: 3px;
      &:nth-of-type(1) {
        top: 0; }

      &:nth-of-type(2) {
        top: 8px; }

      &:nth-of-type(3) {
        top: 16px; }
    }
    &.active-1 span:nth-of-type(1) {
      -webkit-transform: translateY 20px rotate -45deg;
      transform: translateY(8px) rotate(-45deg); }

    &.active-1 span:nth-of-type(2) {
      opacity: 0; }

    &.active-1 span:nth-of-type(3) {
      -webkit-transform: translateY(-20px) rotate(45deg);
      transform: translateY(-8px) rotate(45deg); }

  }

  .active-1 + .gnb {
    display: block!important;
    width: 100%;
    position: absolute;
    left: 0;
    top: 55px;
    background-color: #303030;
    li {
      &:last-child a {
        margin-right: 0;
      }
      a {
        font-size: 14px;
        padding: 20px 20px;
        color: #fff;
        display: block;
        margin: 0 0 1px 0;
        background-color: #202020;
      }
    }
  }

  .header {
    font-size: 14px;
    height: 55px;
    background-color: white;
    border-bottom: 1px #dfe0e1 solid;
    position: fixed;
    z-index: 100;
    width: 100%;
    transition: 0.6s cubic-bezier(0.4, 0.38, 0, 1.19);
    .menu-trigger {
      left: 20px;
      top: 18px;
      width: 26px;
      height: 20px;
      span:nth-of-type(1) {
        height:3px;
        top: 0; }
      span:nth-of-type(2) {
        height:3px;
        top: 8px; }
      span:nth-of-type(3) {
        height:3px;
        top: 16px; }
    }
    .gnb {
      display: none;
      line-height: normal;
      li {
        display: block;
      }
    }
    .logo {
      width: 140px;
      height: 25px;
      margin: 15px auto;
      float: none;
      background-size: 140px 25px;
    }
    .nav {
      position: fixed;
      left: 0;
      top: 0;
    }
  }

  .home {
    .uiHand {
      left: -45%;
      bottom: 50%;
      transform: scale(2);
    }


    .uipad {
      left: -45%;
      bottom: 45%;
      transform: scale(1.6);
    }


    .uivis {
      left: -45%;
      bottom: 45%;
      transform: scale(1.6);
    }

    .mouse {
      text-align: center;
      width: 30px;
      background-size: 22px auto;
      height: 90px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -22px;
      font-size: 12px;
      font-weight: bold;
      color: #00142b;
      padding-top: 65px;
      transition: .6s cubic-bezier(.4,.38,0,1.19);
    }

    .homeDesc {
      position: absolute;
      width: 100%;
      transform: translate(0px, 0px);
      transition: 0.6s cubic-bezier(0.4, 0.38, 0, 1.19);
      color: #00142b;
      font-size: 23px;
      font-weight: bold;
      line-height: 160%;
      top: 90px;
      left:0;
      text-align: center;
    }
  }

  .demo .upload {
    max-width: 100%;
  }

  #fine-uploader-gallery {
    height: 100%;
    min-width: 100%;
    width: 100%;
  }

  .demo .upload .upload-view {
    flex: inherit;
    float: none;
    width: 100%;
    height: 170px;
    line-height: 140px;
    .upcomp {width: 100%}
  }

  .demo {
    .upload .upload-view .progress {
      opacity: 0;
      margin: -50px auto;
      border-radius: 8px;
      width: 250px;
      height: 10px;
      background-color: #c1c1c1;
    }


    .fine-uploader-gallery {
      position: absolute;
      margin: 0;
      top: 185px;
    }

    .upload .fine-uploader-gallery {
      margin-right: 0;
      padding: 0;
      width: 100%;
      background-color: transparent;
      float: none;
    }

    .qq-uploader {
      width: 100%;
      min-height: inherit!important;
      max-height: inherit;
      border: 0;
      padding: 0;
      position: relative;
      background: none;
      border-radius: 0;
      .upload-text {display: none}
    }

    .qq-upload-button div {
      font-size: 14px;
    }

    .qq-upload-button {
      display: block;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 13px 10px;
      text-align: center;
      float: none;
      background: #006cb8;
      color: #FFFFFF;
      border-radius: 0;
      border: 0;
      box-shadow: none;
    }
    .qq-upload-spinner-selector {
      display: none;
    }

    .qq-upload-file {
      height: 17px;
      font-size: 14px;
      color: #010101;
      margin-top: 6px;
    }

    .qq-upload-size {
      font-size: 11px;
      margin-top: 5px;
    }
    .qq-upload-list li {
      margin: 0;
      padding: 9px 0;
    }

  }




  .blog {
    .title {

      font-size: 24px;
    }
    .slider {
     width: 90%;
    }
    .sliderItem {
      height: inherit;
      background-image: none;
      h3 {
        margin: 16px 16px 12px 16px;
        font-size: 15px;
        color: #000;
        font-weight: bold;
        line-height: 160%;
        height: 28px;
        overflow: hidden;
      }
      .descpan {
        border-top: 1px #e9e9e9 solid;
        margin: 12px 16px 16px 16px;
        padding-top: 14px;
        height: 100px;
        overflow: hidden;
        line-height: 160%;
        font-size: 13px;
      }
    }
    .slick-dots li button:before {
      opacity: 1;
      color: #fff;
    }
    .slick-dots li.slick-active button:before {
      opacity: 1;
      color: #006cb8;
    }
    .slick-dots {
      bottom: -37px;
    }
  }

  .contact {
    .title {
      font-size: 24px;
    }
    .desc {
      text-align: center;
      color: #fff;
      font-size: 13px;
      line-height: 160%;
    }
    .sendForm {
      flex-direction: column;
      width: 90%;
      .textType  {
        padding: 0;
        width: inherit;
        input {margin: 5px 0}
      }
      .areaType {
        padding: 0;
        width: inherit;
        textarea {margin: 5px 0}
      }
    }
    .footer {
      padding: 10px 20px;
      height: 100px;
      flex-wrap: wrap;
      li {
        margin: 5px 0px;
        transform: scale(.9);
        font-size: 10px;
        line-height: 12px;
        a {
          font-size: 10px;
        }
        .icon {
          margin-right: 4px;
          background-size: 50%;
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .about, .demo, .service, .blog, .contact {
    .title {
      margin-top: 0px;
      padding-top: 90px;
      font-size: 24px;
      span {
        font-size: 24px;
      }
    }
    .imgs {
      margin-top: 40px;
      background-size: 70%;
    }
    .desc {
      font-size: 13px;
      margin-top: 15px;
      span {
        font-size: 13px;
      }
    }
    .upload {
      margin: 20px auto 0 auto;
      position: relative;
    }
    .slider {
      width: 100%;
      margin: 45px auto 0 auto;
      .sliderItem {
        background-image: none;
      }
    }
    .sendForm {
      width: 100%;
      padding: 0 20px;
      margin: 20px auto 0 auto;
      input, textarea {
        padding: 6px 12px;
        font-size: 13px;
        box-sizing: border-box;
      }
      textarea {
        height: 70px;
      }
      .textType .nameError {
        right: 9px;
        top: 13px;
        font-size: 10px;
      }
    }
    .btnForm {
      margin-top: 10px;
      padding: 0 20px;
      button {
        min-width: 100%;
        min-height: 40px;
        color: #fff;
        border-radius: 4px;
        font-size: 14px;
      }
    }
  }

}