.remodal-is-locked {
  overflow: hidden;
  body {
    overflow: hidden;
  }
}
.scrollDiv {
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
  padding:0 20px 0 0;
}
.remodal {
  padding:20px 0px 20px 20px;
  &.blogmodal {
    max-width: 760px;
  }
  img {
    width: 100%;
  }
  h3 {
    margin: 15px 0;
    font-size: 20px;
    color: #000;
    line-height: 160%;
    text-align: left;
    font-weight: bold;
  }
  .descpan {
    border-top: 1px solid #d1d1d1;
    margin: 25px 0 0 0;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 160%;
    text-align: left;
    overflow:hidden;
    font-size: 16px;
  }
  .share {
    text-align: right;
    padding-bottom: 20px;
    .fb {
      background-image: url("../resource/images/front/share_fb.png");
      background-repeat: no-repeat;
      display: inline-block;
      background-size: 36px;
      width: 36px;
      height: 36px;
      margin-right: 6px;
    }
    .tw {
      background-image: url("../resource/images/front/share_tw.png");
      background-repeat: no-repeat;
      display: inline-block;
      background-size: 36px;
      width: 36px;
      height: 36px;
    }
  }
}

.remodal-close:before {
//  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  font-size: 70px;
  color:#fff;
  content: "\00d7";
  text-align: center;
}

.remodal-close {
  position: absolute;
  top: 10px;
  right:-50px;
  left: inherit;
}