.service {
  position: relative;
  .title {
    text-align: center;
    color: #000c1f;
    font-size: 64px;
    span {font-weight: bold}
    transition: .9s cubic-bezier(.4,.38,0,1.19);
  }
}

.fp-viewing-service {
  .service {
    .title {
    }
  }
}