@media screen  and (max-width: 979px) /* Tablet */ {

  .onlyTb {display: block}

  .active-1 + .gnb {
    display: block!important;
    width: 100%;
    position: absolute;
    left: 0;
    top: 75px;
    background-color: #303030;
    li {
      &:last-child a {
        margin-right: 0;
      }
      a {
        font-size: 20px;
        padding: 30px 20px;
        color: #fff;
        display: block;
        margin: 0 0 1px 0;
        background-color: #202020;
      }
    }
  }

  .menu-trigger.active-1 span:nth-of-type(1) {
    -webkit-transform: translateY 10px rotate -45deg;
    transform: translateY(10px) rotate(-45deg); }

  .menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0; }

  .menu-trigger.active-1 span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg); }

  .header {
    font-size: 14px;
    height: 75px;
    background-color: white;
    border-bottom: 1px #dfe0e1 solid;
    position: fixed;
    z-index: 100;
    width: 100%;
    transition: 0.6s cubic-bezier(0.4, 0.38, 0, 1.19);
    .logo {
      margin: 20px auto;
      float: none;
      width: 200px;
      height: 35px;
      background-size: 200px 35px;
    }
    .menu-trigger {
      left: 20px;
      top: 27px;
      width: 30px;
      height: 20px;
      span:nth-of-type(1) {
        height:3px;
        top: 0; }
      span:nth-of-type(2) {
        height:3px;
        top: 10px; }
      span:nth-of-type(3) {
        height:3px;
        top: 20px; }
    }
    .gnb {
      display: none;
      line-height: normal;
      li {
        display: block;
      }
    }
    .nav {
      position: fixed;
      left: 0;
      top: 0;
    }
  }

  .home {
    .uiHand {
      left: -25%;
      bottom: 25%;
      transform: scale(1.5);
    }


    .uipad {
      right: 28%;
      bottom: 25%;
      transform: scale(1.2);
    }


    .uivis {
      right: 28%;
      bottom: 25%;
      transform: scale(1.2);
    }

    .mouse {
      background-image: url("../resource/images/front/mouse_tb.png");
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      width: 100px;
      height: 180px;
      background-size: 40px 60px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -45px;
      font-size: 26px;
      font-weight: bold;
      color: #00142b;
      padding-top: 125px;
      transition: .6s cubic-bezier(.4,.38,0,1.19);
    }
    .homeDesc {
      position: absolute;
      top: 125px;
      left: 0;
      width: 100%;
      text-align: center;
      transition: 0.6s cubic-bezier(0.4, 0.38, 0, 1.19);
      color: #00142b;
      font-size: 36px;
      font-weight: bold;
      line-height: 160%;
    }
  }

  .demo .upload {
    max-width: 100%;
    position: relative;
  }

  .demo .upload .upload-view {
    width: 100%;
    img {width: 100%;}
  }

  .demo {

    .upload .fine-uploader-gallery .ex {
      color: #c7000b;
      margin-top: -200px;
      width: 100%;
      text-align: left;
    }

    .upload #fine-uploader-gallery {
      height: 100%;
      min-width: 100%;
      width: 100%;
      padding: 0;
      background-color: transparent;
    }
    .upload .upload-view .progress {
      opacity: 0;
      margin: 0px auto;
      border-radius: 8px;
      width: 250px;
      margin-left: -125px;
      height: 10px;
      background-color: #c1c1c1;
    }

    .toggle-box {
      position: absolute;
      top: -40px;
      right: 40px;
      button{
        font-size: 13px;
        color: #444444;
        border: 1px solid #444;
        padding: 8px 4px;
        min-width: 75px;
        min-height: 25px;
        margin-left: 5px;
        background-color: #eaeaea;
        outline: 0;
        &.active {
          border: 2px solid #006cb8;
          color: #006cb8;
          font-weight: bold;
        }
      }
    }

    .upload-box {
      margin-top:170px;
      padding: 0 40px;
      label {
        font-size: 12px!important;
      }
    }

    .fine-uploader-gallery {
      position: absolute;
      margin: 0;
      top: 345px;
    }

    .upload .fine-uploader-gallery {
      margin-right: 0;
      padding: 0;
      width: calc(100% - 80px);
      background-color: transparent;
      float: none;
    }

    .qq-uploader {
      width: 100%;
      min-height: inherit!important;
      max-height: inherit;
      border: 0;
      padding: 0;
      position: relative;
      background: none;
      border-radius: 0;
      .upload-text {display: none}
    }

    .qq-upload-button div {
      font-size: 14px;
    }

    .qq-upload-button {
      display: block;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 20px 10px;
      text-align: center;
      float: none;
      background: #006cb8;
      color: #FFFFFF;
      border-radius: 0;
      border: 0;
      box-shadow: none;
      div {
        font-size: 20px;
      }
    }
    .qq-upload-spinner-selector {
      display: none;
    }

    .qq-upload-file {
      height: 17px;
      font-size: 14px;
      color: #010101;
      margin-top: 6px;
    }

    .qq-upload-size {
      font-size: 11px;
      margin-top: 5px;
    }
    .qq-upload-list li {
      margin: 0;
      padding: 9px 0;
    }

  }

  .contact {
    .sendForm {
      flex-direction: column;
      width: 90%;
      .textType  {
        padding: 0;
        width: 100%;
        input {margin: 5px 0}
      }
      .areaType {
        padding: 0;
        width: 100%;
        textarea {margin: 5px 0}
      }
    }
    .footer {
      padding: 0 20px;
      display: table;
      height: 100px;
      li {
        padding-left: 60px;
        display: table-cell;
        width: 28%;
        position: relative;
        margin: 25px 0px;
        transform: scale(1);
        line-height: 50px;
        text-align: left;
        font-size: 12px;
        &:nth-of-type(2) {
          width: 44%;
        }
        a {
          font-size: 12px;
        }
        .icon {
          position: absolute;
          left: 0;
          top:0;
          background-size: 50%;
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .about, .demo, .service, .blog, .contact {
    .title {
      font-size: 38px;
      margin-top: 0px;
      span {
        font-size: 38px;
      }
    }
    .imgs {
      width: 100%;
      height: 100%;
      margin-top: 56px;
      background-image: url("../resource/images/front/about_im.png");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: top center;
    }
    .desc {
      font-size: 17px;
      margin-top: 23px;
    }
    .upload {
      margin: 70px auto 0 auto;
    }
    .slider {
      margin: 40px auto 0 auto;
      .sliderItem {
        background-image: none;
      }
    }
    .sendForm {
      margin: 40px auto 0 auto;
      input, textarea {
        padding: 6px 12px;
        font-size: 13px;
      }
      .textType .nameError {
        right: 9px;
        top: 13px;
        font-size: 13px;
      }
    }
  }

}
