@media screen  and (max-width: 979px) /* Tablet */ {

  .onlyTb {display: block}

  .active-1 + .gnb {
    display: block!important;
    width: 100%;
    position: absolute;
    left: 0;
    top: 75px;
    background-color: #303030;
    li {
      &:last-child a {
        margin-right: 0;
      }
      a {
        font-size: 20px;
        padding: 30px 20px;
        color: #fff;
        display: block;
        margin: 0 0 1px 0;
        background-color: #202020;
      }
    }
  }

  .menu-trigger.active-1 span:nth-of-type(1) {
    -webkit-transform: translateY 10px rotate -45deg;
    transform: translateY(10px) rotate(-45deg); }

  .menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0; }

  .menu-trigger.active-1 span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg); }

  .header {
    font-size: 14px;
    height: 75px;
    background-color: white;
    border-bottom: 1px #dfe0e1 solid;
    position: fixed;
    z-index: 100;
    width: 100%;
    transition: 0.6s cubic-bezier(0.4, 0.38, 0, 1.19);
    .logo {
      margin: 20px auto;
      float: none;
      width: 200px;
      height: 35px;
      background-size: 200px 35px;
    }
    .menu-trigger {
      left: 20px;
      top: 27px;
      width: 30px;
      height: 20px;
      span:nth-of-type(1) {
        height:3px;
        top: 0; }
      span:nth-of-type(2) {
        height:3px;
        top: 10px; }
      span:nth-of-type(3) {
        height:3px;
        top: 20px; }
    }
    .gnb {
      display: none;
      line-height: normal;
      li {
        display: block;
      }
    }
    .nav {
      position: fixed;
      left: 0;
      top: 0;
    }
  }

  .home {
    .uiHand {
      background-image: url(../resource/images/front/hand.png);
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: bottom center;
      width: 100%;
      height: 100%;
      transform: translate(0px, 300px);
      transition: 0.6s cubic-bezier(0.4, 0.38, 0, 1.19);
    }
    .mouse {
      background-image: url("../resource/images/front/mouse_tb.png");
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      width: 100px;
      height: 180px;
      background-size: 40px 60px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -45px;
      font-size: 26px;
      font-weight: bold;
      color: #00142b;
      padding-top: 125px;
      transition: .6s cubic-bezier(.4,.38,0,1.19);
    }
    .homeDesc {
      position: absolute;
      left: 0;
      width: 100%;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.4, 0.38, 0, 1.19);
      color: #00142b;
      font-size: 36px;
      font-weight: bold;
      line-height: 160%;
    }
  }

  .fine-uploader-gallery {
    position: absolute;
    margin: 0;
    top: 480px;
  }

  .demo .upload .upload-view {
    flex: 100%;
    width: 100%;
  }

  .contact {
    .sendForm {
      flex-direction: column;
      width: 90%;
      .textType  {
        padding: 0;
        width: 100%;
        input {margin: 5px 0}
      }
      .areaType {
        padding: 0;
        width: 100%;
        textarea {margin: 5px 0}
      }
    }
    .footer {
      padding: 0 10px;
      height: 100px;
      li {
        transform: scale(.8);
      }
    }
  }

  .fp-viewing-home {
    .homeDesc {
      position: absolute;
      top: 125px;
      left:0;
      width: 100%;
      text-align: center;
      opacity: 1;
    }
    .uiHand {
      transform: translate(-180px, -220px) scale(1.5);
    }
  }

  .about, .demo, .service, .blog, .contact {
    .title {
      font-size: 38px;
      margin-top: 125px;
      transform: translate(0px, 200px);
      span {
        font-size: 38px;
      }
    }
    .imgs {
      width: 100%;
      height: 100%;
      margin-top: 56px;
      background-image: url("../resource/images/front/about_im.png");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: top center;
    }
    .desc {
      font-size: 17px;
      margin-top: 23px;
      transform: translate(0px, 200px);
      span {
        font-size: 13px;
      }
    }
    .upload {
      margin: 40px auto 0 auto;
      transform: translate(0px, 200px);
    }
    .slider {
      margin: 40px auto 0 auto;
      transform: translate(0px, 200px);
      .sliderItem {
        background-image: none;
      }
    }
    .sendForm {
      margin: 40px auto 0 auto;
      transform: translate(0px, 200px);
      input, textarea {
        padding: 6px 12px;
        font-size: 13px;
      }
      .textType .nameError {
        right: 9px;
        top: 13px;
        font-size: 13px;
      }
    }
  }

}
