@media screen and (max-width: 500px) /* Mobile */ {

  .onlyMb {display: none}

  .header .logo {
    margin-left: 0px;
    width: 140px;
    height: 25px;
    background-size: 140px 25px;
  }

  .menu-trigger {
    position: absolute;
    left: 18px;
    top: 18px;
    width: 22px;
    height: 22px;
    span {
      height: 3px;
      &:nth-of-type(1) {
        top: 0; }

      &:nth-of-type(2) {
        top: 8px; }

      &:nth-of-type(3) {
        top: 16px; }
    }
    &.active-1 span:nth-of-type(1) {
      -webkit-transform: translateY 20px rotate -45deg;
      transform: translateY(8px) rotate(-45deg); }

    &.active-1 span:nth-of-type(2) {
      opacity: 0; }

    &.active-1 span:nth-of-type(3) {
      -webkit-transform: translateY(-20px) rotate(45deg);
      transform: translateY(-8px) rotate(45deg); }

  }

  .active-1 + .gnb {
    display: block!important;
    width: 100%;
    position: absolute;
    left: 0;
    top: 55px;
    background-color: #303030;
    li {
      &:last-child a {
        margin-right: 0;
      }
      a {
        font-size: 14px;
        padding: 20px 20px;
        color: #fff;
        display: block;
        margin: 0 0 1px 0;
        background-color: #202020;
      }
    }
  }

  .nav {
    position: fixed;
    left: 0;
    top: 0;
  }

  .header {
    font-size: 14px;
    height: 55px;
    background-color: white;
    border-bottom: 1px #dfe0e1 solid;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    transition: 0.6s cubic-bezier(0.4, 0.38, 0, 1.19);
  }

  .header .gnb {display: none}

  .uiHand {
    background-image: url(../source/images/hand.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    height: 100%;
    transform: translate(0px, 300px);
    transition: 0.6s cubic-bezier(0.4, 0.38, 0, 1.19);
  }

  .mouse {
    text-align: center;
    width: 30px;
    background-size: 22px auto;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -22px;
    font-size: 12px;
    font-weight: bold;
    color: #00142b;
    padding-top: 65px;
    transition: .6s cubic-bezier(.4,.38,0,1.19);
  }

  .homeDesc {
    position: absolute;
    top: 180px;
    left: 160px;
    width: 100%;
    opacity: 0;
    transform: translate(0px, 0px);
    transition: 0.6s cubic-bezier(0.4, 0.38, 0, 1.19);
    color: #00142b;
    font-size: 23px;
    font-weight: bold;
    line-height: 160%;
  }

  .fine-uploader-gallery {
    position: absolute;
    margin: 0;
    top: 480px;
  }


  .about {
    .title {
      font-size: 24px;
      transition: .9s cubic-bezier(.4,.38,0,1.19);
      transform: translate(0px, 200px);
    }
  }

  .service {
    .title {
      font-size: 24px;
      transition: .9s cubic-bezier(.4,.38,0,1.19);
      transform: translate(0px, 200px);
    }
  }

  .demo .upload .upload-view {
    flex: 100%;
    width: 100%;
  }

  .blog {
    .title {
      font-size: 24px;
      transition: .9s cubic-bezier(.4,.38,0,1.19);
    }
    .sliderItem {
      height: inherit;
      background-image: none;
      h3 {
        margin: 20px 20px;
        font-size: 15px;
        color: #000;
        font-weight: bold;
        line-height: 160%;
      }
      .desc {
        border-top: 1px #e9e9e9 solid;
        margin: 20px 20px;
        padding-top: 17px;
        height: 100px;
        overflow: hidden;
        line-height: 160%;
      }
    }
    .slick-dots li button:before {
      opacity: 1;
      color: #fff;
    }
    .slick-dots li.slick-active button:before {
      opacity: 1;
      color: #006cb8;
    }
  }

  .contact {
    .title {
      font-size: 24px;
    }
    .desc {
      text-align: center;
      color: #fff;
      font-size: 13px;
      line-height: 160%;
    }
    .sendForm {
      flex-direction: column;
      width: 90%;
      .textType  {
        padding: 0;
        width: inherit;
        input {margin: 5px 0}
      }
      .areaType {
        padding: 0;
        width: inherit;
        textarea {margin: 5px 0}
      }
    }
    .footer {
      padding: 0 10px;
      height: 100px;
      li {
        transform: scale(.5);
      }
    }
  }

  .fp-viewing-home {
    .homeDesc {
      position: absolute;
      top: 0px;
      left:0;
      width: 100%;
      text-align: center;
      opacity: 1;
      transform: translate(0px, 90px);
    }
    .uiHand {
      transform: translate(-90px, -130px) scale(1.6);
    }
  }

}